body{
    background-color:	#D3D3D3;
    font-family: 'Aldrich', sans-serif;
}
h1{
    border:black 1px solid;
    text-align: center;
}
h2{
    color:purple;
}
input{
    border:darkblue 5px solid; 
}
#textblock{
    border:gray 5px solid;
    width: 800px;
    height: 400px;
}
a{
    color:red;
}
